.score {
  width: 200px;
  margin-bottom: 20px;
  background-color: #fff;
}

.score-card.left {
  order: 1; /* 左侧卡片的排列顺序 */
}

.score-card.right {
  order: 2; /* 右侧卡片的排列顺序 */
}


.choiceBtn {
  width: 70px;
  display: flex;
  padding: 5px;
  flex-direction: column;
  border-radius: 5px;
  border: #fff;
  align-items: center;
}


.bounce {
  transition: all 0.2s ease-in-out;
}

.bounce:hover {
  transform: translateY(-15px);
}

.activeChoice {
  background-color: rgb(240, 174, 8);
}
